<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar></ion-searchbar>
    <h3 class="search_text">You may also search for:</h3>
    <ion-grid>
      <ion-row>
        <ion-col class="col_pad_0">
          <div class="random_tags">
            <div class="random_tags_hash_tag">#flatshoes</div>
            <div class="random_tags_post_count">16k Posts</div>
          </div>
        </ion-col>
        <ion-col class="col_pad_0">
          <div class="random_tags">
            <div class="random_tags_hash_tag">#heels</div>
            <div class="random_tags_post_count">5k Posts</div>
          </div>
        </ion-col>
        <ion-col class="col_pad_0">
          <div class="random_tags">
            <div class="random_tags_hash_tag">#redshoes</div>
            <div class="random_tags_post_count">8k Posts</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="col_pad_0">
          <div class="talking_col">
            <div class="talking_col_title">200K</div>
            <div class="talking_col_sub_title">Number of people talking about #fasion, #shoes</div>
          </div>
        </ion-col>
        <ion-col class="col_pad_0">
          <div class="talking_col">
            <div class="talking_col_title">20K</div>
            <div class="talking_col_sub_title">Number of Kofluence influencers talking about #fasion, #shoes</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-segment color="warning">
      <ion-segment-button value="Top Posts" [checked]="true">
        <ion-label class="segment_label">Top Posts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Latest Posts">
        <ion-label class="segment_label">Latest Posts</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-grid>
      <ion-row>
        <ion-col size="6" [sizeMd]="6" [sizeLg]="3" *ngFor="let movie of moviesArray">
          <div class="post" [style.backgroundImage]="'url(https://image.tmdb.org/t/p/original'+movie.backdrop_path+ ')'">
            <div class="opacity">
            <div class="eye">
              <ion-icon name="eye"></ion-icon> {{movie?.popularity}}
              <br>
              <ion-icon name="heart"></ion-icon> {{movie?.vote_average}}
            </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
